.ellipsisWrapper {
  position: relative;
  display: inline-block;
  width: var(--rcs-ellipsis-size);
  height: var(--rcs-ellipsis-size);
}

.ellipsis {
  position: absolute;
  top: calc(var(--rcs-ellipsis-size) / 2.42424);
  width: calc(var(--rcs-ellipsis-size) / 6.15385);
  height: calc(var(--rcs-ellipsis-size) / 6.15385);
  background: var(--rcs-ellipsis-color);
  border-radius: 50%;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.ellipsisFirst {
  left: calc(var(--rcs-ellipsis-size) / 10);
  animation: ellipsis1 0.6s infinite;
}

.ellipsisSecond {
  left: calc(var(--rcs-ellipsis-size) / 10);
  animation: ellipsis2 0.6s infinite;
}

.ellipsisThird {
  left: calc(var(--rcs-ellipsis-size) / 2.5);
  animation: ellipsis2 0.6s infinite;
}

.ellipsis div:nth-child(4) {
  left: calc(var(--rcs-ellipsis-size) / 1.42857);
  animation: ellipsis3 0.6s infinite;
}

@keyframes ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(calc(var(--rcs-ellipsis-size) / 3.33333), 0);
  }
}
